*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #2c2222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
body::after{
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgb(4, 18, 145);
    position: absolute;
    clip-path: ellipse( 50% 50% at right 50% );
    z-index: -1;
}

a{
    color: white;
    text-decoration: none;
}
.container{
    height: 80%;
    width: 80%;
    background-color: rgba(241, 243, 243, 0.425);
    border-radius: 20px;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    width: 80%;
    margin: auto;
}
ul{
    list-style: none;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
nav .logo{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}
nav ul li a{
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
}
nav ul li a:hover{
    color: rgb(4, 18, 145);
}
.contant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
}
.contant .text{
    width: 40%;
    color: #fff;
}
.contant .text h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.contant .text p{
    font-size: 18px;
    line-height: 25px;
    margin: 10px 0;
    letter-spacing: 1px;
}
.contant .images{
    width: 40%;
}
.contant .images img{
    width: 400px;
}
@media (min-width:950px) and (max-width:1150px){
    .contant .images img{
        width: 330px;
    }
}
@media (max-width:950px){
  .contant, nav {
        flex-direction: column;
        justify-content: center;
  }
  .contant .text, .contant .images{
    width: 80%;
  }
    body::after{
        clip-path: ellipse( 50% 50% at bottom );
    }
}